% rebase("admin/main", title="Users list")

<div class="container">
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-between">
            <h4>Users</h4>
        </div>
    </div>
    <table class="table table-striped table-hover">
        % for user in users:
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td class="text-end">
                <a href="/master/user/delete/{{ user.id }}/" onclick="return confirm('Sure to delete?')" class="link-success">Delete</a>
            </td>
        </tr>
        % end
    </table>
</div>
